.file-manager .panel-controls-item-dropdown {
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 1;
  width: 800px;
  -webkit-box-shadow: 2px 4px 44px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 44px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 44px -12px rgba(0, 0, 0, 0.75);
  background-color: #ffffff; }
.file-manager-header {
  position: relative;
  padding: 18px 30px 17px 12px; }
  .file-manager-header-selector {
    display: flex; }
  .file-manager-header p {
    text-transform: uppercase;
    font-size: 11px; }
  .file-manager-header input {
    width: 220px;
    height: 26px;
    border: solid 1px #7899fc;
    padding-left: 6px; }

.button {
  text-transform: uppercase;
  letter-spacing: 0.1;
  font-size: 11px;
  border: solid 1px #7899fc;
  padding: 5px 20px;
  border-radius: 3px; }

.select-circle {
  margin-right: 13px;
  height: 12px;
  width: 12px;
  border: solid 1px #7899fc;
  border-radius: 50%;
  cursor: pointer; }
  .select-circle .selected {
    background-color: #7899fc;
    border: 0.5px solid #fff;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: none; }
  .select-circle:hover .selected {
    display: block; }

.search {
  position: relative; }
  .search img {
    position: absolute;
    right: 8px;
    top: 6px; }

#selector {
  display: none; }

#selector:checked ~ .select-circle .selected {
  display: block; }

.nested-folders {
  visibility: hidden; }

.file-manager-list-item {
  padding: 15px 12px;
  display: flex;
  align-items: center; }
  .file-manager-list-item > img.img-edit {
    margin-left: 10px;
    display: none; }
  .file-manager-list-item .nested-level-icon {
    display: flex;
    padding-right: 12px; }
  .file-manager-list-item:nth-child(odd) {
    background-color: rgba(213, 225, 235, 0.2);
    border-top: solid 1px #d5e1eb;
    border-bottom: solid 1px #d5e1eb; }
  .file-manager-list-item:hover > img.img-edit {
    display: block;
    cursor: pointer; }
  .file-manager-list-item > section {
    display: none; }
.file-manager-list .open {
  padding: 6px 12px; }
  .file-manager-list .open ~ .nested-folders {
    visibility: visible; }
  .file-manager-list .open > p {
    display: none; }
  .file-manager-list .open > section {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center; }
    .file-manager-list .open > section input {
      width: 100%;
      border: solid 1px #d5e1eb;
      padding-left: 10px;
      line-height: 2.06;
      font-size: 16px;
      color: #374049;
      font-weight: 100; }
    .file-manager-list .open > section > div {
      display: flex;
      position: absolute;
      right: 2%; }
      .file-manager-list .open > section > div button {
        height: 25px;
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px #949494; }
        .file-manager-list .open > section > div button:last-child {
          background-color: #7899fc;
          margin-left: 5px; }

.nested-folders {
  padding-left: 69px; }
  .nested-folders p {
    margin-left: 12px; }
  .nested-folders-second-level {
    padding-left: 114px; }

.file-manager-footer {
  padding: 11px 40px;
  border-top: solid 1px #d5e1eb;
  display: flex;
  align-items: center; }
  .file-manager-footer div {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-left: 70px; }
    .file-manager-footer div button:last-child {
      margin-left: 15px;
      border-color: #ff5a5a; }
  .file-manager-footer > button {
    flex-grow: 0; }
  .file-manager-footer label {
    padding: 3px 20px;
    cursor: pointer; }

.roi {
  margin-bottom: 15px; }
  .roi .filter {
    margin: 10px 20px 20px 0; }
    .roi .filter section {
      position: relative; }
      .roi .filter section span {
        position: absolute;
        right: -14px;
        top: 4px;
        font-size: 10px;
        color: #949494; }
    .roi .filter .slider {
      width: 60px;
      margin: 0 5px;
      margin-right: 5px; }
      .roi .filter .slider span {
        position: absolute;
        font-size: 10px;
        color: #374049;
        top: -20px;
        left: 12px; }
    .roi .filter input {
      padding-left: 3px;
      width: 30px;
      height: 20px;
      border-radius: 3px;
      border: solid 1px #d5e1eb; }

.roi-checker {
  text-transform: uppercase;
  padding: 5px 0;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: solid 1px #d5e1eb; }

.panel-controls {
  width: 315px;
  background-color: #ffffff; }
  .panel-controls-item {
    border-bottom: 1px solid #D4D4D4;
    font-family: "Verdana"; }
    .panel-controls-item .control-label {
      padding: 9px 15px;
      font-size: 16px;
      line-height: 2.06; }
      .panel-controls-item .control-label img {
        margin-right: 17px; }
      .panel-controls-item .control-label-wide img {
        margin-right: 16px; }
    .panel-controls-item:first-child {
      padding: 12px 20px;
      padding-left: 14px; }
      .panel-controls-item:first-child button {
        font-family: "Raleway";
        padding: 6px 30px;
        border: 1px solid #7899fc;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        background-color: #ffffff;
        font-weight: 500;
        letter-spacing: 0.1px; }
        .panel-controls-item:first-child button img {
          margin-left: 8px; }
    .panel-controls-item-dropdown {
      background-color: #fafbfd;
      font-size: 14px;
      padding: 20px 11px 15px 50px; }
      .panel-controls-item-dropdown .acqisition {
        padding-bottom: 10px;
        border-bottom: solid 1px #d5e1eb; }
        .panel-controls-item-dropdown .acqisition-control {
          display: flex;
          flex-direction: column; }
          .panel-controls-item-dropdown .acqisition-control p {
            padding: 7px 0; }
        .panel-controls-item-dropdown .acqisition-select-small {
          display: flex;
          flex-direction: column; }
          .panel-controls-item-dropdown .acqisition-select-small .custom-select-wrapper {
            width: 40px;
            font-size: 10px; }
            .panel-controls-item-dropdown .acqisition-select-small .custom-select-wrapper:first-child {
              margin-bottom: 10px; }

.acqisition-stream p {
  padding: 10px 0; }

.dropdown-gpio {
  padding: 0; }
  .dropdown-gpio .selecting-gpio {
    padding: 20px 11px 28px 50px; }
    .dropdown-gpio .selecting-gpio p {
      margin-left: 5px;
      margin-bottom: 5px; }
    .dropdown-gpio .selecting-gpio .custom-select-wrapper {
      margin-bottom: 28px; }
      .dropdown-gpio .selecting-gpio .custom-select-wrapper:last-child {
        margin: 0; }

.dropdown, .roi, #roi {
  display: none; }

#roi:checked ~ .roi {
  display: block; }

.open-menu-item .dropdown {
  display: block; }
.open-menu-item label .control-label {
  background: rgba(120, 153, 252, 0.1);
  color: #7798FB;
  border-left: 4px solid #7798FB;
  padding-left: 11px; }

.btn-composition {
  margin-bottom: 7px; }
  .btn-composition button {
    width: 100%;
    height: 29px;
    border: solid 1px #7899fc;
    background-color: rgba(215, 225, 234, 0.3);
    font-size: 14px;
    font-weight: 400; }
    .btn-composition button:active {
      background-color: #7899fc; }
  .btn-composition span {
    font-size: 7px;
    color: #949494;
    white-space: nowrap; }
    .btn-composition span img {
      margin-right: 5px; }
  .btn-composition-warning {
    margin-top: 22px; }
    .btn-composition-warning button {
      border: solid 1px #ff5a5a; }

.camera-setup {
  padding-top: 15px; }
  .camera-setup > section:first-child {
    margin-bottom: 10px; }
  .camera-setup > section .range-inputs {
    display: flex;
    align-items: center;
    margin-top: 5px;
    position: relative; }
    .camera-setup > section .range-inputs input {
      padding-left: 2px; }
      .camera-setup > section .range-inputs input:last-child {
        width: 30px;
        height: 20px;
        border-radius: 3px;
        border: solid 1px #d5e1eb;
        margin-left: 10px; }
        .camera-setup > section .range-inputs input:last-child:focus, .camera-setup > section .range-inputs input:last-child:active {
          border: solid 1px #7899fc; }
    .camera-setup > section .range-inputs span {
      content: "ms";
      position: absolute;
      right: 4px;
      top: 2px;
      font-size: 10px;
      color: #949494; }

.ref-exp-wrapper {
  padding-top: 15px;
  border-top: 1px solid #D4D4D4;
  font-weight: 100; }
  .ref-exp-wrapper p {
    font-size: 12px;
    font-weight: 100;
    white-space: nowrap; }
  .ref-exp-wrapper input {
    width: 50px;
    height: 20px;
    border: solid 1px #d5e1eb;
    padding-right: 14px;
    padding-left: 13px; }
  .ref-exp-wrapper div {
    position: relative; }
    .ref-exp-wrapper div span {
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 10px;
      color: #949494; }

.selecting-model {
  padding-bottom: 20px;
  border-bottom: solid 1px #d5e1eb; }
  .selecting-model label {
    cursor: pointer;
    font-size: 12px;
    height: 30px;
    border-radius: 3px;
    border: solid 1px #7899fc;
    width: 100%;
    margin-top: 25px; }
    .selecting-model label img {
      margin-right: 10px; }
  .selecting-model > p {
    margin-bottom: 5px; }
  .selecting-model input[type="file"] {
    display: none; }

.collecting-data .btn-composition {
  margin: 0; }
.collecting-data section {
  font-size: 12px;
  border-radius: 3px;
  background-color: rgba(215, 225, 234, 0.3);
  display: flex;
  justify-content: space-between;
  padding: 15px 11px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }
  .collecting-data section > div p {
    margin: 9px 0;
    height: 20px; }
    .collecting-data section > div p:first-child {
      margin-top: 0; }
.collecting-data-dropdowns {
  width: 110px; }
  .collecting-data-dropdowns input {
    height: 20px;
    background: transparent;
    border-bottom: solid 1px #d5e1eb;
    width: 110px; }
.collecting-data .custom-select__trigger {
  background-color: transparent;
  font-size: 12px; }
.collecting-data .open .custom-select__trigger {
  border: solid 1px #d5e1eb;
  border-bottom-color: #fff;
  border-top-color: #fff;
  background: #ffffff;
  font-size: 10px; }
.collecting-data .custom-select {
  border: none;
  border-bottom: 1px solid #d5e1eb;
  font-size: 10px;
  position: relative; }

.frames-block .open .custom-select__trigger span:after {
  content: "frames";
  position: absolute;
  right: 2px;
  color: #374049;
  opacity: 0.5;
  font-size: 10px; }
.frames-block .custom-select span:after {
  content: "frames";
  position: absolute;
  right: 2px;
  color: #374049;
  opacity: 0.5;
  font-size: 10px; }

.control-btn-advanced {
  padding-bottom: 5px; }

.custom-select .custom-select__trigger span:after {
  content: none; }

.large-dlg, .dlg-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 1440px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto; }

.dlg-wrapper {
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center; }

.small-dlg {
  height: 300px;
  width: 500px;
  min-width: 400px;
  background-color: #fff;
  margin: auto;
  margin: 0 auto;
  border-radius: 3px; }
  .small-dlg .modal-fotter {
    padding: 13px 140px;
    border-top: 1px solid #d5e1eb;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15); }
    .small-dlg .modal-fotter button {
      padding: 6px 19px;
      text-transform: uppercase;
      color: #374049;
      letter-spacing: 0.1;
      font-size: 11px;
      background-color: #ffffff;
      border: solid 1px #7899fc; }
  .small-dlg .modal-body {
    height: 246px;
    display: flex; }
    .small-dlg .modal-body > div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 0 auto;
      padding: 30px 0;
      align-items: center; }
    .small-dlg .modal-body .circle-check {
      width: 50px;
      height: 50px;
      border: 3px solid #7899fc;
      border-radius: 50%; }
    .small-dlg .modal-body-error {
      width: 50px;
      height: 50px;
      background-color: rgba(255, 90, 90, 0.1);
      border-radius: 50%; }
    .small-dlg .modal-body-load {
      width: 100px;
      height: 100px; }

.small-dlg .flex-center {
  justify-content: center; }

#dialog .large-dlg #dlg-wrap {
  padding: 35px 54px;
  max-width: 720px;
  min-width: 520px;
  max-height: 100%;
  overflow: scroll; }

.large-dlg-title {
  font-size: 24px; }

.small-dlg-title {
  font-size: 14px;
  color: #949494; }
  .small-dlg-title .lines-around:before, .small-dlg-title .lines-around:after {
    width: 65px; }

.device-info {
  background-color: rgba(215, 225, 234, 0.3);
  padding: 30px 28px;
  flex-direction: column;
  margin-top: 25px; }
  .device-info button {
    padding: 7px 44px;
    border: solid 1px #7899fc;
    background-color: rgba(215, 225, 234, 0.8);
    color: #374049;
    font-size: 12px;
    margin-top: 40px; }
    .device-info button img {
      margin-right: 10px; }
  .device-info section {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .device-info section > div {
      padding: 0 14px;
      display: flex; }
      .device-info section > div div, .device-info section > div aside {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        font-size: 12px; }
        .device-info section > div div p, .device-info section > div aside p {
          white-space: nowrap;
          margin-top: 15px;
          margin-right: 35px;
          letter-spacing: 1.75px;
          color: #121212;
          text-transform: uppercase;
          opacity: 0.5;
          font-weight: 100; }
        .device-info section > div div p:first-child, .device-info section > div aside p:first-child {
          margin-top: 0; }
      .device-info section > div aside {
        flex-direction: start; }
        .device-info section > div aside span {
          white-space: nowrap; }
      .device-info section > div:last-child {
        border-left: solid 1px #d5e1eb; }

#dlg-wrap > section {
  margin-top: 35px;
  font-size: 14px; }
  #dlg-wrap > section p:last-child {
    margin: 20px;
    margin-left: 0; }

.qr-code p {
  flex-grow: 0;
  line-height: 2; }
.qr-code img {
  margin-left: 70px;
  flex-grow: 1; }

.contact-phone p:last-child {
  font-size: 22px; }

.blur {
  filter: blur(6px);
  background-color: #000;
  background-color: #012237; }

.visible {
  visibility: visible; }

.state_dlg {
  display: none; }

* {
  box-sizing: border-box; }

html {
  font-family: sans-serif; }

body {
  font-size: 16px;
  color: #374049;
  line-height: 1.5;
  background-color: #fff;
  font-family: "Verdana"; }

a:hover, a {
  color: inherit;
  text-decoration: inherit; }

a, button {
  cursor: pointer; }

button::-moz-focus-inner,
button::active,
input::-moz-focus-inner,
input::active,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
  outline: none;
  box-shadow: none; }

button, input,
input:focus, input:active {
  outline: none;
  background: #ffffff;
  border: none;
  border-radius: 3px; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none; }

p, body {
  padding: 0;
  margin: 0; }

.flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.flex-c {
  display: flex;
  align-items: center;
  justify-content: center; }

.lines-around {
  overflow: hidden;
  text-align: center; }

.accent-color {
  color: #7899fc; }

.lines-around:before,
.lines-around:after {
  background-color: #d5e1eb;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%; }

.lines-around:before {
  right: 2em;
  margin-left: -50%; }

.lines-around:after {
  left: 2em;
  margin-right: -50%; }

.main-container {
  position: relative; }

.header-wrapper {
  position: relative;
  background-color: #ffffff;
  border-bottom: 1px solid #D4D4D4;
  padding: 9px 32px 8px 14px; }

header {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px; }
  header img {
    height: 48px;
    width: auto; }
  header div:last-child label {
    color: #7899fc;
    margin-right: 110px;
    cursor: pointer;
    font-size: 16px; }

.sub-title-lower {
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #D4D4D4; }

.btn-large {
  background-color: #7899fc;
  color: #ffffff;
  border: solid 1px #7899fc;
  font-size: 14px;
  width: 100%;
  height: 72px; }

.main-layout {
  margin: 0 auto;
  display: flex; }

main {
  background-color: #f5f7ff;
  padding-left: 32px;
  padding-top: 16px;
  width: 100%; }

.scrollable-block {
  height: 710px;
  display: flex;
  overflow: scroll; }
  .scrollable-block canvas, .scrollable-block .diagram-block {
    background-color: #fff;
    height: 440px;
    margin-top: 22px;
    max-width: 800px;
    min-width: 700px; }
  .scrollable-block canvas {
    margin-top: 0;
    background: #7899fc;
    position: relative; }
    .scrollable-block canvas-warn {
      background-color: #ff5a5a; }
  .scrollable-block .diagram-block {
    height: 200px; }
  .scrollable-block-aside {
    margin-top: 84px;
    background-color: #ffffff;
    width: 140px;
    height: 440px; }
  .scrollable-block-main-layout {
    margin-right: 30px; }

.screen-block {
  padding-top: 22px;
  position: relative; }
  .screen-block-header {
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .screen-block-state {
    text-transform: uppercase;
    border-radius: 3px;
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    left: 44%;
    padding: 1px 12px;
    cursor: pointer;
    text-align: center;
    background: rgba(255, 245, 215, 0.1);
    width: 85px;
    opacity: 0;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease; }
  .screen-block:hover .screen-block-state, .screen-block:hover .screen-block-header {
    opacity: 1; }
  .screen-block-header, .screen-block .play-manage-block {
    color: #ffffff;
    padding-bottom: 0; }
  .screen-block-header {
    position: absolute;
    padding: 2px 16px;
    font-size: 12px;
    font-family: "Raleway"; }
    .screen-block-header p:first-child {
      margin-right: 50px; }
    .screen-block-header p:last-child {
      flex-grow: 1;
      text-align: right;
      cursor: pointer; }

.screen-block-warn .screen-block-header {
  font-size: 14px;
  padding: 5px 41px; }
  .screen-block-warn .screen-block-header p {
    margin-left: 90px; }
  .screen-block-warn .screen-block-header button {
    font-family: "Raleway";
    cursor: pointer;
    letter-spacing: 0.1em;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 11px;
    border-radius: 3px;
    border: 1px solid #fff;
    padding: 7px 12px;
    background: #ff5a5a;
    min-width: 68px;
    margin-left: 46px; }
    .screen-block-warn .screen-block-header button:hover {
      background-color: #ffffff;
      color: #ff5a5a; }

.play-manage-block {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 11px; }
  .play-manage-block div {
    padding: 13px 10px;
    display: flex;
    align-items: center;
    cursor: pointer; }
    .play-manage-block div:hover {
      background-color: #ff5a5a; }
    .play-manage-block div span {
      text-transform: uppercase;
      font-size: 11px;
      margin-left: 12px; }
  .play-manage-block-active {
    background-color: #ff5a5a; }

.main-layout-header {
  background-color: #fff;
  padding: 15px 20px; }
  .main-layout-header-params p, .main-layout-header-brightness p {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 12px;
    margin-right: 5px;
    color: #121212;
    opacity: 0.5; }
  .main-layout-header-brightness p {
    font-size: 12px;
    font-weight: 500;
    text-transform: none;
    letter-spacing: normal;
    opacity: 1; }
  .main-layout-header-brightness input[type=text] {
    font-size: 12px;
    font-family: "Lato";
    margin-left: 10px;
    width: 25px; }
  .main-layout-header-brightness span {
    color: #949494;
    font-size: 10px; }
  .main-layout-header-params p {
    white-space: nowrap; }
  .main-layout-header-params .custom-select__trigger {
    background-color: transparent;
    font-weight: 500; }
  .main-layout-header-params .custom-select {
    border-color: #fff; }
    .main-layout-header-params .custom-select-wrapper {
      min-width: 110px; }
  .main-layout-header-params .open {
    border: solid 1px #d5e1eb; }

.pos-center {
  padding-left: 25px; }

/*# sourceMappingURL=main.css.map */
