* {
  box-sizing: border-box; }

html {
  font-family: sans-serif; }

body {
  font-size: 16px;
  color: #374049;
  line-height: 1.5;
  background-color: #fff; }

a:hover, a {
  color: inherit;
  text-decoration: inherit; }

button::-moz-focus-inner,
button::active,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
  outline: none;
  box-shadow: none; }

button {
  outline: none; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

p, body {
  padding: 0;
  margin: 0; }

.lines-around {
  overflow: hidden;
  text-align: center; }

.accent-color {
  color: #7899fc; }

.lines-around:before,
.lines-around:after {
  background-color: #e7e9ea;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%; }

.lines-around:before {
  right: 2em;
  margin-left: -50%; }

.lines-around:after {
  left: 2em;
  margin-right: -50%; }

.main-container {
  position: relative; }

.header-wrapper {
  position: relative;
  background-color: #ffffff;
  height: 60px;
  border-bottom: 1px solid #D4D4D4; }

header {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 16px;
  font-size: 14px;
  max-width: 1300px; }
  header img {
    height: 28px;
    width: auto; }
  header .info {
    align-items: start;
    color: #7799fc;
    display: flex;
    justify-content: space-between; }
    header .info div:first-child {
      padding-right: 20px;
      margin-right: 20px;
      border-right: 1px solid #D4D4D4; }

.sub-title {
  border-bottom: 1px solid #D4D4D4;
  padding: 10px 0; }
  .sub-title p {
    text-transform: uppercase; }

.sub-title-lower {
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #D4D4D4; }

.btn-large {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7899fc;
  color: #ffffff;
  border-radius: 3px;
  border: solid 1px #7899fc;
  font-size: 14px;
  width: 100%;
  height: 72px; }

.multiple-input {
  margin-top: 15px; }

.main-layout {
  max-width: 1300px;
  margin: 0 auto;
  display: flex; }

.panel-controls {
  width: 300px;
  background-color: #ffffff; }
  .panel-controls-item {
    border-bottom: 1px solid #D4D4D4; }
    .panel-controls-item .control-label {
      padding: 15px;
      font-size: 16px; }
      .panel-controls-item .control-label > label img {
        margin-right: 17px; }
    .panel-controls-item:first-child {
      padding: 12px 20px; }
      .panel-controls-item:first-child button {
        padding: 6px 30px;
        border: 1px solid #7899fc;
        border-radius: 3px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        background-color: #ffffff; }
        .panel-controls-item:first-child button img {
          margin-left: 8px; }
    .panel-controls-item-dropdown {
      background-color: #fafbfd;
      font-size: 14px;
      padding: 20px 11px 15px 50px; }
      .panel-controls-item-dropdown .acqisition {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: solid 1px #e7e9ea; }
        .panel-controls-item-dropdown .acqisition-control {
          display: flex;
          flex-direction: column;
          align-items: start; }
          .panel-controls-item-dropdown .acqisition-control p {
            padding: 7px 0; }
        .panel-controls-item-dropdown .acqisition-select-small {
          display: flex;
          flex-direction: column; }
          .panel-controls-item-dropdown .acqisition-select-small .custom-select-wrapper {
            width: 40px;
            font-size: 10px; }
            .panel-controls-item-dropdown .acqisition-select-small .custom-select-wrapper:first-child {
              margin-bottom: 10px; }

.acqisition-stream p {
  padding: 10px 0; }

.dropdown-gpio {
  padding: 0; }
  .dropdown-gpio .selecting-gpio {
    padding: 20px 11px 28px 50px; }
    .dropdown-gpio .selecting-gpio .custom-select-wrapper {
      margin-bottom: 28px; }
      .dropdown-gpio .selecting-gpio .custom-select-wrapper:last-child {
        margin: 0; }

.dropdown, #camera, #calibration, #acqisition, #configure, #cube, #advanced, #gpio {
  display: none; }

#camera:checked ~ .dropdown,
#calibration:checked ~ .dropdown,
#acqisition:checked ~ .dropdown,
#configure:checked ~ .dropdown,
#cube:checked ~ .dropdown,
#advanced:checked ~ .dropdown,
#gpio:checked ~ .dropdown {
  display: block; }

#camera:checked ~ .control-label,
#calibration:checked ~ .control-label,
#acqisition:checked ~ .control-label,
#configure:checked ~ .control-label,
#cube:checked ~ .control-label,
#advanced:checked ~ .control-label,
#gpio:checked ~ .control-label {
  background: rgba(120, 153, 252, 0.1);
  color: #7798FB;
  border-left: 4px solid #7798FB; }

.btn-composition {
  margin-bottom: 15px; }
  .btn-composition button {
    width: 100%;
    height: 29px;
    border-radius: 3px;
    border: solid 1px #7899fc;
    background-color: rgba(215, 225, 234, 0.3);
    font-size: 14px;
    font-weight: 400; }
    .btn-composition button:active {
      background-color: #7899fc; }
  .btn-composition span {
    font-size: 8px;
    color: #949494; }
  .btn-composition-warning button {
    border-radius: 3px;
    border: solid 1px #ff5a5a;
    margin-top: 25px; }

.ref-exp-wrapper {
  padding-top: 15px;
  border-top: 1px solid #D4D4D4;
  display: flex;
  justify-content: space-between; }
  .ref-exp-wrapper p {
    font-size: 12px;
    font-weight: 100; }
  .ref-exp-wrapper input {
    width: 50px;
    height: 20px;
    border-radius: 3px;
    border: solid 1px #d5e1eb; }

.selecting-model {
  padding-bottom: 20px;
  border-bottom: solid 1px #e7e9ea; }
  .selecting-model label {
    font-size: 12px;
    height: 30px;
    border-radius: 3px;
    border: solid 1px #7899fc;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .selecting-model label {
    margin-top: 25px; }
  .selecting-model > p {
    margin-bottom: 5px; }
  .selecting-model input[type="file"] {
    display: none; }

.collecting-data .btn-composition {
  margin: 0; }
.collecting-data section {
  border-radius: 3px;
  background-color: rgba(215, 225, 234, 0.3);
  display: flex;
  justify-content: space-between;
  padding: 15px 11px; }
  .collecting-data section > div p {
    margin: 7px 0; }
.collecting-data .custom-select__trigger {
  background-color: transparent; }
.collecting-data .custom-select {
  border: none;
  border-bottom: 1px solid #d5e1eb; }

.control-btn-advanced {
  padding-bottom: 30px; }

main {
  background-color: #f5f7ff;
  padding-left: 32px;
  padding-top: 16px;
  width: 100%; }

.scrollable-block {
  height: 700px;
  display: flex;
  overflow: scroll; }
  .scrollable-block .screen-block, .scrollable-block .diagram-block {
    background-color: #fff;
    height: 500px;
    margin-top: 30px; }
  .scrollable-block .diagram-block {
    height: 200px; }
  .scrollable-block-aside {
    margin-top: 90px;
    background-color: #ffffff;
    width: 140px;
    height: 500px; }
  .scrollable-block-main-layout {
    width: 80%;
    margin-right: 30px; }

.main-layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px 20px; }
  .main-layout-header-params, .main-layout-header-brightness {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .main-layout-header-params p, .main-layout-header-brightness p {
      text-transform: uppercase;
      font-weight: 200;
      letter-spacing: 1px;
      font-size: 12px;
      margin-right: 5px;
      color: #121212;
      opacity: 0.5; }
  .main-layout-header-brightness p {
    font-size: 12px;
    font-weight: 500;
    text-transform: none;
    letter-spacing: normal;
    opacity: 1; }
  .main-layout-header-params p {
    white-space: nowrap; }
  .main-layout-header-params .custom-select__trigger {
    background-color: transparent; }
  .main-layout-header-params .custom-select {
    border: none; }
    .main-layout-header-params .custom-select-wrapper {
      min-width: 100px; }

.small-dlg, .large-dlg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: 100vw;
  height: 100vh;
  cursor: pointer; }

#dialog .small-dlg #dlg-wrap {
  height: 300px;
  width: 500px; }

.small-dlg #dlg-wrap .modal-fotter {
  padding: 13px 140px;
  border-top: 1px solid #d5e1eb;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .small-dlg #dlg-wrap .modal-fotter button {
    padding: 6px 19px;
    text-transform: uppercase;
    color: #374049;
    letter-spacing: 0.1;
    font-size: 11px;
    background-color: #ffffff;
    border-radius: 3px;
    border: solid 1px #7899fc; }
.small-dlg #dlg-wrap .modal-body {
  height: 246px;
  display: flex; }
  .small-dlg #dlg-wrap .modal-body > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    padding: 30px 0;
    align-items: center; }
  .small-dlg #dlg-wrap .modal-body .circle-check {
    width: 50px;
    height: 50px;
    border: 3px solid #7899fc;
    border-radius: 50%; }

.small-dlg #dlg-wrap .flex-center {
  justify-content: center; }

#dialog .large-dlg #dlg-wrap {
  width: 50%;
  padding: 40px 54px; }

.large-dlg-title {
  font-size: 24px; }

.small-dlg-title {
  font-size: 14px;
  color: #949494; }
  .small-dlg-title .lines-around:before, .small-dlg-title .lines-around:after {
    width: 65px; }

.device-info {
  background-color: rgba(215, 225, 234, 0.3);
  padding: 30px 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px; }
  .device-info button {
    padding: 7px 44px;
    border-radius: 3px;
    border: solid 1px #7899fc;
    background-color: rgba(215, 225, 234, 0.8);
    color: #374049;
    font-size: 12px;
    margin-top: 40px; }
  .device-info section {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .device-info section > div {
      padding: 0 14px;
      display: flex; }
      .device-info section > div div, .device-info section > div aside {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        font-size: 12px; }
        .device-info section > div div p, .device-info section > div aside p {
          margin-top: 25px;
          margin-right: 35px;
          letter-spacing: 1.75px;
          color: #121212;
          text-transform: uppercase;
          opacity: 0.5;
          font-weight: 100; }
        .device-info section > div div p:first-child, .device-info section > div aside p:first-child {
          margin-top: 0; }
      .device-info section > div aside {
        flex-direction: start; }
      .device-info section > div:last-child {
        border-left: solid 1px #e7e9ea; }

#dlg-wrap > section {
  margin-top: 30px;
  font-size: 14px; }
  #dlg-wrap > section p:last-child {
    margin: 20px;
    margin-left: 0; }

.qr-code {
  display: flex;
  align-items: start;
  justify-content: space-between; }
  .qr-code p {
    flex-grow: 0;
    line-height: 2; }
  .qr-code div {
    width: 100px;
    height: 100px;
    background-color: #c3c3c3;
    flex-grow: 2; }

.contact-phone {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .contact-phone p:last-child {
    font-size: 22px; }

/*# sourceMappingURL=main.css.map */
